.container {
  // outline: 2px solid red;
  // outline-offset: -2px;

  // mobile
  max-width: $mobile;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-right: 68px;
    padding-left: 68px;
  }
}
