<section class="about section" id="about">
  <h2 class="visually-hidden">Philosophy of our company</h2>
  <div class="bgc-section">
    <div class="about__box">
      <div class="container about__wrapper">
        <ul class="about__list">
          <li class="about__item">
            <p class="about__text">15 years of experience</p>
          </li>
          <li class="about__item">
            <p class="about__text">30 thousand happy residents</p>
          </li>
          <li class="about__item">
            <p class="about__text">22 houses built</p>
          </li>
          <li class="about__item">
            <p class="about__text">9 awards</p>
          </li>
        </ul>
        <div class="about__right">
          <h3 class="about__title" data-aos="zoom-in-up">
            Philosophy of our company
          </h3>
          <p class="about__desc" data-aos="zoom-in-up" data-aos-delay="300">
            Residential complex “Nice view” is an island of tranquility,
            security and comfort. <br />
            In our project, we created the opportunity to lead a measured life
            in the very center of the city.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
