<section class="apartments section" id="apartments">
  <div class="apartments__wrapper container">
    <h2 class="apartments__title section-title" data-aos="zoom-in-up" data-aos-duration="900">Choose your apartment</h2>
    <ul class="apartments__list">
      <li class="apartments__item" data-aos="zoom-in-up" data-aos-delay="100" data-apartments>
        <picture>
          <!--desktop-->
          <source media="(min-width:1280px)" srcset="
                images/apartments/dsc_apart1@1x.png 1x,
                images/apartments/dsc_apart1@2x.png 2x
              " />
          <!--tablet-->
          <source media="(min-width:768px)" srcset="
                images/apartments/tab_apart1@1x.png 1x,
                images/apartments/tab_apart1@2x.png 2x
              " />
          <!--mobile-->
          <source media="(max-width:767px)" srcset="
                images/apartments/mob_apart1@1x.png 1x,
                images/apartments/mob_apart1@2x.png 2x
              " />
          <img class="apartments__img" src="images/apartments/mob_apart1@1x.png" alt="Type 1" width="216" />
        </picture>
        <h4 class="apartments__subtitle">Type 1</h4>
        <p class="apartments__desc">total area 23 meters</p>
      </li>
      <li class="apartments__item" data-aos="zoom-in-up" data-aos-delay="400" data-apartments>
        <picture>
          <!--desktop-->
          <source media="(min-width:1280px)" srcset="
                images/apartments/dsc_apart2@1x.png 1x,
                images/apartments/dsc_apart2@2x.png 2x
              " />
          <!--tablet-->
          <source media="(min-width:768px)" srcset="
                images/apartments/tab_apart2@1x.png 1x,
                images/apartments/tab_apart2@2x.png 2x
              " />
          <!--mobile-->
          <source media="(max-width:767px)" srcset="
                images/apartments/mob_apart2@1x.png 1x,
                images/apartments/mob_apart2@2x.png 2x
              " />
          <img class="apartments__img" src="images/apartments/mob_apart2@1x.png" alt="Type 1" width="236" />
        </picture>
        <h4 class="apartments__subtitle">Type 2</h4>
        <p class="apartments__desc">total area 27 meters</p>
      </li>
      <li class="apartments__item" data-aos="zoom-in-up" data-aos-delay="700" data-apartments>
        <picture>
          <!--desktop-->
          <source media="(min-width:1280px)" srcset="
                images/apartments/dsc_apart3@1x.png 1x,
                images/apartments/dsc_apart3@2x.png 2x
              " />
          <!--tablet-->
          <source media="(min-width:768px)" srcset="
                images/apartments/tab_apart3@1x.png 1x,
                images/apartments/tab_apart3@2x.png 2x
              " />
          <!--mobile-->
          <source media="(max-width:767px)" srcset="
                images/apartments/mob_apart3@1x.png 1x,
                images/apartments/mob_apart3@2x.png 2x
              " />
          <img class="apartments__img" src="images/apartments/mob_apart3@1x.png" alt="Type 1" width="212" />
        </picture>
        <h4 class="apartments__subtitle">Type 3</h4>
        <p class="apartments__desc">total area 31 meters</p>
      </li>
    </ul>
    <button class="btn-main-color apartments__btn" type="button" data-aos="zoom-in-up" data-download-modal-open>
      Download catalog
    </button>
  </div>
</section>