<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer-logo">
        <a
          class="footer-logo__link footer--link"
          href="index.html"
          data-aos="zoom-in-up"
          data-aos-duration="700"
        >
          <svg class="footer-logo__icon" width="56" height="56">
            <use href="./images/svg-sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer-navigation">
        <h3 class="footer-navigation__title" data-aos="zoom-in-up">
          Navigation
        </h3>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a class="footer-navigation__link footer--link" href="#home"
              >Home</a
            >
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link footer--link" href="#about"
              >About</a
            >
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link footer--link" href="#apartments"
              >Apartments</a
            >
          </li>
          <li class="footer-navigation__item">
            <a
              class="footer-navigation__link footer--link"
              href="#infrastructure"
              >Infrastructure</a
            >
          </li>
          <li class="footer-navigation__item">
            <a class="footer-navigation__link footer--link" href="#gallery"
              >Gallery</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <h3 class="footer-contacts__title" data-aos="zoom-in-up">Contacts</h3>
        <address class="address">
          <ul class="address__list">
            <li class="address__item">
              <a
                class="address__link footer--link"
                href="tel:+384065550120"
                rel="noopener noreferrer nofollow"
                >(406) 555-0120</a
              >
            </li>
            <li class="address__item">
              <a
                class="address__link footer--link"
                href="https://goo.gl/maps/HHrJCjvyvwMJ2t7u5"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >ul. Chodkiewicza Karola 111, Chorzów
              </a>
            </li>
            <li class="address__item">
              <a
                class="address__link footer--link"
                href="mailto:deanna.curtis@example.com"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >deanna.curtis@example.com</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-media">
        <ul class="footer-media__list">
          <li class="footer-media__item">
            <a
              class="footer-media__link"
              href="https://www.youtube.com/@GoIT"
              target="_blank"
              rel="noopener norefferrer"
              aria-label="Youtube"
              ><svg class="footer-media__icon" width="24" height="24">
                <use href="./images/svg-sprite.svg#youtube"></use></svg
            ></a>
          </li>
          <li class="footer-media__item">
            <a
              class="footer-media__link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener norefferrer"
              aria-label="Instagram"
              ><svg class="footer-media__icon" width="24" height="24">
                <use href="./images/svg-sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="footer-media__item">
            <a
              class="footer-media__link"
              href="https://twitter.com/goitclub"
              target="_blank"
              rel="noopener norefferrer"
              aria-label="Twitter"
              ><svg class="footer-media__icon" width="24" height="24">
                <use href="./images/svg-sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li class="footer-media__item">
            <a
              class="footer-media__link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener norefferrer"
              aria-label="Facebook"
              ><svg class="footer-media__icon" width="24" height="24">
                <use href="./images/svg-sprite.svg#facebook"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-privacy">
      <p class="footer-privacy__descr">
        By using this website, you agree to the
        <a
          class="footer-privacy__link"
          href="https://goit.global/ua/terms-of-use/"
          target="_blank"
          rel="noopener norefferrer"
          >Terms of Service</a
        >
        and
        <a
          class="footer-privacy__link"
          href="https://goit.global/ua/privacy-policy/"
          target="_blank"
          rel="noopener norefferrer"
          >Privacy Policy</a
        >
      </p>
    </div>
  </div>
</footer>
