<section class="section" id="gallery">
  <div class="container">
    <h2 class="galley__title section-title" data-aos="zoom-in-up" data-aos-duration="900">Gallery</h2>
    <div class="slider-container">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide swiper__slide-img">
            <picture>
              <source srcset="
                            images/gallery/gallery1@1x.jpg 1x,
                            images/gallery/gallery1@2x.jpg 2x
                          " />
              <img src="images/gallery/gallery1@1x.jpg" alt="slide-1" width="556" />
          </div>
          <div class="swiper-slide swiper__slide-img">
            <picture>
              <source srcset="                                        
              images/gallery/gallery2@1x.jpg 1x,
              images/gallery/gallery2@2x.jpg 2x
                                      " />
              <img src="images/gallery/gallery2@1x.jpg" alt="slide-2" width="556" />
          </div>
          <div class="swiper-slide swiper__slide-img">
            <picture>
              <source srcset="
                                        images/gallery/gallery3@1x.jpg 1x,
                                        images/gallery/gallery3@2x.jpg 2x
                                      " />
              <img src="images/gallery/gallery3@1x.jpg" alt="slide-3" width="556" />
          </div>
          <div class="swiper-slide swiper__slide-img">
            <picture>
              <source srcset="
                                        images/gallery/gallery4@1x.jpg 1x,
                                        images/gallery/gallery4@2x.jpg 2x
                                      " />
              <img src="images/gallery/gallery4@1x.jpg" alt="slide-4" width="556" />
          </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>