<header class="header" id="home">
    <div class="header__container container">

        <a class="logo" href="/src/index.html">
            <svg class="logo__img" width="56" height="56">
                <use href="../src/images/svg-sprite.svg#logo"></use>
            </svg>
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">

                    <a href="/src/index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="#apartments" class="nav__link">Apartments</a>
                </li>
                <li class="nav__item">
                    <a href="#infrastructure" class="nav__link">Infrastructure</a>
                </li>
                <li class="nav__item">
                    <a href="#gallery" class="nav__link">Gallery</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts" class="nav__link">Contacts</a>
                </li>
            </ul>
        </nav>

        <button class="btn-dark-desk" type="button" data-modal-open>Contact us</button>

        <button class="menu-toggle js-open-menu" aria-expanded="false">
            <svg class="menu-toggle__icon" width="24" height="24">
                <use href="images/svg-sprite.svg#burger"></use>
            </svg>
        </button>
    </div>


</header>