<section class="section infrastructure" id="infrastructure">
  <div class="container inf-title-wrapper">
    <h2 class="inf__header" data-aos="zoom-in-up" data-aos-duration="900">Infrastructure</h2>
  </div>
  <div class="container inf__container">
    <ul class="inf__list">
      <li class="inf__item">
        <div class="inf__wrapper">2 minutes walk</div>
        <p class="inf__subtitle">to the supermarket</p>
      </li>
      <li class="inf__item reverse">
        <div class="inf__wrapper">4 minutes walk</div>
        <p class="inf__subtitle">to the coffee shop</p>
      </li>
      <li class="inf__item">
        <div class="inf__wrapper">7 minutes walk</div>
        <p class="inf__subtitle">to the nearest park</p>
      </li>
    </ul>
  </div>
</section>
