<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="30" height="30">
      <use href="images/svg-sprite.svg#modal-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="/">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="#about">About</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="#apartments">Apartments</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="#infrastructure">Infrastructure</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="#gallery">Gallery</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link link" href="#contacts">Contacts</a>
    </li>
  </ul>
</div>