.section.infrastructure {
  max-width: 1280px;
  background-color: #ede9e3;
  margin-left: auto;
  margin-right: auto;
}

.inf-title-wrapper {
  background-color: #ede9e3;
  padding-left: 20px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 68px;
    margin-bottom: 20px;
  }
}
.container.inf__container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../images/infrastructure/mob_inf@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/infrastructure/mob_inf@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 37px;
    background-image: url(../images/infrastructure/tab_inf@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/infrastructure/tab_inf@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1144px;
    padding-right: 168px;
    background-image: url(../images/infrastructure/dsc_inf@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/infrastructure/dsc_inf@2x.jpg);
    }
  }
}

.inf__header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: #7e6d53;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.inf__list {
  display: flex;
  list-style: none;
  margin: 0;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #fcfcfb;
  opacity: 0.8;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    max-width: 331px;
    margin-left: auto;
    gap: 60px;
  }
}

.inf__item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.inf__wrapper {
  border: 1px solid #2d2a22;
  width: 101px;
  height: 101px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  display: flex;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #2d2a22;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.inf__subtitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #7e6d53;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
